html{
    background-color:rgba(255, 255, 255, 0.844);
}

header h1{
    text-align: center;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
    position: absolute;
    top: 0;
    right: 0px;
    padding: 2px;
    height : 40px;
    text-align: center;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
#item1{
    background-color: rgb(223, 193, 193);
}
#item2{
    background-color: rgb(188,48,44);
}
#item3{
    background-color: rgb(202,195,126);
}

h4{
    position: relative;
    bottom: 11px;
}

body{
    margin: 0%;
    padding: 0%;
    width: 100%;
}
#items , .energy{
    position: relative;
    display: flex;
}
.rice , .pulses , .cereals{
    position: relative;
    width: 33.33%;
    box-sizing: border-box;
    text-align: left;
    bottom: 10px;
    padding: 35px;
    margin: 15px;
    border: 3px solid black;
    background-color: rgb(179, 178, 178);
    
}

@media (min-width : 992px){
    .energy{
        width: 70%;
    }
    .rice{
        width: 50%;
        margin-right: 3px;
    } 
    .pulses{
        width: 50%;
    }
    .cereals{
        width: 30%;
    }
}

@media(min-width : 768px) and (max-width: 991px){
    #items{
        display: inline;
    }
    .energy{
        display: flex;
    }
    .rice{
        width: 50%;
        margin-right: 3px;
    }
    .pulses{
        width: 50%;
    }
    .cereals{
        width: 96.5%;
    }
    
}
@media(max-width: 767px){
    #items{
        flex-direction: column;
        flex: 100%;
        align-items: center;
    }
    .energy{
        flex-direction: column;
    }
    .rice , .pulses, .cereals{
        width: 96%;
    }
    
}
